.open,
.close {
  border: solid 1px var(--gray-25);
}

.heading {
  font-size: var(--body);
}

.heading button {
  all: unset;
  outline: revert;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.icon {
  color: var(--gray-25);
  font-size: 1.25em;
  transition: transform 0.5s;
}

.open .icon {
  transform: rotate(180deg);
}

.text {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s;
}

.open .text {
  grid-template-rows: 1fr;
}

.textClip {
  min-height: 0;
  overflow: hidden;
}

.textInner {
  padding: 0 1.14em 1.14em;
  font-size: calc(var(--body) * 0.875);
}
